* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  touch-action: none;

  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
}

button {
  padding: 8px;
  border-radius: 4px;
  border: 2px solid var(--bg-overlay-color);
  background: var(--bg-color);
  color: var(--text-color);
  font-family: inherit;
}

input[type="text"] {
  border-radius: 4px;
  padding: 4px;
  border: 2px solid var(--bg-overlay-color);
  font-family: inherit;
  background: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color: rgba(255, 255, 255, 1);
  --bg-color-secondary: rgba(255, 255, 255, 1);
  --bg-overlay-color: rgba(0, 0, 0, 0.2);
  --text-color: rgba(0, 0, 0, 0.8);
  --shadow-color: rgba(0, 0, 0, 0.4);
  --shadow-radius: 8px;

}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgba(50, 50, 50, 1);
    --bg-color-secondary: rgba(80, 80, 80, 1);
    --bg-overlay-color: rgba(0, 0, 0, 0.3);
    --shadow-color: rgba(0, 0, 0, 0.5);
    --text-color: rgba(255, 255, 255, 0.8);
  }
}
