.container {
  background-color: var(--bg-color-secondary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 var(--shadow-radius) var(--shadow-color);
  border-radius: 28px 28px 0 0;
}

.handle {
  border-bottom: 1px solid var(--bg-overlay-color);
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.handleDot {
  height: 4px;
  width: 100px;
  background-color: var(--bg-overlay-color);
  border-radius: 2px;
}
