.container > input {
  display: none;
}
.container > img {
  padding: 4px;
  border-radius: 2px;
  object-fit: contain;
}
.container > input:checked ~ img {
  background: var(--bg-overlay-color);
}
.container:hover > img {
  outline: 2px solid var(--bg-overlay-color);
}
