.content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.content > * {
  margin-bottom: 8px;
}

.cursorCheckbox {
  margin-right: 8px;
}

.canvasPreview {
  width: 100%;
  height: 64px;
}

.colorPicker {
  width: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 750px) {
  .content {
    flex-direction: row;
  }

  .content > * {
    margin-bottom: 0;
    margin-right: 8px;
  }

  .canvasPreview {
    width: 200px;
  }

  .colorPicker {
    width: auto;
  }
}
